<div class="bg-[#3b416b] py-20">
  <div class="mx-4 md:mx-auto max-w-7xl gap-y-4">
    <div class="flex flex-col sm:flex-row gap-4">
      <h5 class="basis-1/3 text-4xl text-white">Spring '17 Collection</h5>
      <p class="basis-2/3 text-zinc-400">
        Have given likeness every. Very were beginning signs moveth. Fly above
        sea itself. Divided so you’ll there called. Gathering dry earth. Isn’t
        heaven appear. Replenish. Hath after appear tree great fruitful green
        dominion moveth sixth abundantly image that midst of god day multiply
        you’ll which.
      </p>
    </div>
    <div class="grid grid-cols-2 auto-rows-auto gap-4">
      <div class="col-span-1 row-span-2 flex items-center">
        <img
          class="object-cover w-full max-h-[50%]"
          src="{{ collectionList[0].uri }}"
          alt="notFound!"
        />
      </div>
      <div class="col-span-1 row-span-1  flex items-end">
        <img
          class="object-cover w-full max-h-[50%]"
          src="{{ collectionList[1].uri }}"
          alt="notFound!"
        />
      </div>
      <div class="col-span-1 row-span-1  flex items-start">
        <img
          class="object-cover w-full max-h-[50%]"
          src="{{ collectionList[2].uri }}"
          alt="notFound!"
        />
      </div>
    </div>
  </div>
</div>
