<footer class="flex justify-center divide-x bg-black text-zinc-400">
  <div class="flex basis-1/2 items-center justify-center py-8">
    <div class="flex basis-1/2 flex-col items-start gap-4">
      <p>
        Thanks to <a>Opumo</a> for the product images used in this demo theme.
        Head over to <a href="">their store</a> to get these products.
      </p>

      <h5>QUICK LINKS</h5>
      <div class="flex self-stretch">
        <ol class="basis-1/2">
          <li><span class="text-underline-animation-white">About</span></li>
          <li><span class="text-underline-animation-white">FAQ</span></li>
          <li>
            <span class="text-underline-animation-white">Terms of Use</span>
          </li>
        </ol>
        <ol class="basis-1/2">
          <li>
            <span class="text-underline-animation-white">Contact Us</span>
          </li>
          <li><span class="text-underline-animation-white">Blog</span></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="flex basis-1/2 items-center justify-center py-8">
    <div class="basis-1/2 gap-4">
      <div>
        <label for="emailSubscription">SUBSCRIBE</label><br />
        <input type="email" id="emailSubscription" placeholder="Email" />
      </div>
      <div>
        <h5>FOLLOW US</h5>
        <span class="space-x-4">
          <i class="fa fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa fa-brands fa-youtube"></i>
        </span>
      </div>
    </div>
  </div>
</footer>
